.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .backButton {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .backButton:hover {
    background-color: #2980b9;
  }
  